<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" defer></script>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <script src="js/script.js" defer></script>
</head>
<body>
    <!-- <header>
        <h1 class="center">To-do list</h1>
    </header> -->
    <main>
        <div id="app" class="logo-container">
            <div class="logo">
                <img src="img/boolean-logo.png">
            </div>

            <div class="new-todo">
                <input @keyup.enter.space="addTodo" type="text" placeholder="aggiungi" v-model="newTodo">
                <button @click="addTodo" class="btn btn-dark">Aggiungi</button>
            </div>

            <div class="todos-container">
                <ul v-if="todos.length !== 0">
                    <li v-for="(todo, i) in todos" :key="todo" class="todo">
                        <span :style="todo.done == false ? {textDecoration: 'line-through'} : ''">{{ todo }}</span>
                        <i class="fas fa-times" @click="deleteTodo(i)"></i>
                    </li>
                </ul>
                <h2 v-else=>Non hai cose da fare</h2>
            </div>
        </div>
    </main>
</body>
</html>